@import url('https://fonts.googleapis.com/css?family=Barriecito|Faster+One|Indie+Flower&display=swap');
*{
  box-sizing: border-box;
}
h1{
  font-family: 'Faster One', cursive;
  font-size: 6em;
  text-align: center;
  letter-spacing: -10px;
}
h2{
  font-family: 'Barriecito', cursive;
  font-size: 2em;
}
p{
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
}