img{
  width: 200px;
  height: auto;
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  text-align: center;
  justify-content: space-around;
  background-color: greenyellow;
  border: 5px solid blueviolet;
}
p{
  width: 200px;
}

